#canvas{
    border: 2px solid red;
    height: 500px;
    width: 800px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/484/286/non_2x/pixel-art-farm-landscape-at-night-with-house-barn-silo-and-mill-8bit-game-background-vector.jpg');
    background-size: contain;
}


h1{
    border: 2px solid red
}



/* falling */

@keyframes falling {
    0%{
        transform: translateY();
    }
    100%{
        transform: translateY(1000%);

    }
}

.fall{
    animation: falling 2s infinite;
}

.fallingContainer{
    display: flex;
    flex-wrap: wrap;
}